/* Your Website Styles */
body {
	background:#2c3e50;
	color:#16a085;
	font-family: 'Josefin Slab', serif;
}

h2{
	border-bottom: 4px solid; border-color:#95a5a6;
}


	


}
div {
	margin-top: -60px;	x 
}


/* Show Grid */
